
/* Predefined names 147 */
/* body{
    color: brown;
    background-color: cadetblue;
} */

/* RGB Values */
/* body{
    color: rgb(153, 138, 138);
    background-color: rgb(95, 158, 160);
} */

/* Hex Code */
/*body{
     color: #a52a2a;
    background-color: #5f9ea0;
} */





/* body{
    color: hsl(61, 70%, 26%);
} */










div{
    background-color: crimson;
    padding: 20px;
}
h1{
    background-color: khaki;
}
p{
    /* position: relative;
    top:-40px; */

    /* background-color: rgba(95, 158, 160,0.7); */
    background-color: hsla(182, 25%, 50%, 0.7);
    /* color:rgba(0,0,0,0.5); */
    padding: inherit;
    /* opacity: 0.5; */
}




