/* h1{
    color:green;
    background-color: bisque;
} */
































/* Universal Selector */
/* *{
    background-color: bisque;
    color:brown;
} */
/* Type Selector */
/* h1, h2{
    border: 1px dotted brown;
    padding:15px;
}

h2{
    text-align: center;
} */


/* Class Selector */
/* .special{
    color:blueviolet;
}
h1.special{
    color: orangered;
}
p.special{
    background-color:azure;
} */


/* ID Selector */
/* #subject{
    background-color: aquamarine;
} */






/* Child Selector */
/* div>h2{
   color: green;
}
div>p{
    color:red;
}

a{
    text-decoration: none;
}
div>a{
    color:red;
}
div>ul>li>a{
    color:blue;
}
li>a{
    color:skyblue;
} */


































































/* h1{
    color:red !important;
}

h1.special-potato{
    color:blueviolet;
}

h1{
    color:blue;
}


*{
    color:green;
} */




/* * {
    font-family: Arial, Verdana, sans-serif;
}
h1 {
    font-family: "Courier New", monospace;
}

i {
    color: green;
}
i {
    color: red;
}



p>b {
    color: blue !important;
}

p>b {
    color: violet;
}

b {
    color: pink;
}

#intro {
    font-size: 100%;
}
p {
    font-size: 75%;
} */


































/* a{
    text-decoration: none;
} */

/* div>ul>li>a{
    color:red;
} */

/* 
div,a
div>a
div a
div+a
div~a
*/

/* div a{
    color: red;
} */

/* Adjacent Sibling */
/* h1 + p {
    background-color: beige;
    color:brown;    
} */

/* General Sibling */
/* h1 ~ p{
    border: 1px solid red;
    padding: 15px;
} */




























body {
    font-family: Arial, Verdana, sans-serif;
    color: #665544;
    padding: 20px;
    border: 1px solid red;
}
.page {
    /* border: 1px solid #665544; */
    background-color: #efefef;
    border: inherit;
    padding: inherit;
}
h1{
    color:brown;
}













