/* 
*{
    font-family: Arial, Helvetica, verdana, sans-serif;
}

.coding-text{
    font-family: 'Courier New', Courier, monospace;
} */























/* 
.size-16px{
    font-size: 16px;
} */


/* body{
    font-size: 28px;
}

.size-percent{
    font-size: 75%;
}
.size-12px{
    font-size: 12px;
} */




/* 

body{
    font-size: 30px;
}

.doub-size{
    font-size: 1.5em;
} */


/* .bold-text{
    font-weight: bold; 
}
h1{
    font-weight: normal;
} */

















/* @font-face {
    font-family: "AlexBrush";
    src: url("fonts/alex-brush/AlexBrush-Regular.ttf");
}

*{
    font-family: AlexBrush;   
}
body{
    background-color: pink;
    color:red;
    border: 2px dotted red;
    padding: 15px;
} */





h1{
    /* text-transform: uppercase;
    text-decoration: overline; */
    /* text-indent: -400px; */
}
h2{
    text-transform: lowercase;
    text-decoration: underline;
}
.special{
    /* font-style: italic;
    text-transform: capitalize;
    text-indent: 40px; */
    /* line-height: 1.4em; */

    /* letter-spacing: 1em; */
    /* word-spacing: 2em; */
}
a{
    text-decoration: none;
}
.line-through{
    text-decoration: line-through;
}


p{
    text-align: justify;
}


.special:first-letter{
    font-size: 40px;
    color:green;
    font-family: monospace;
}
.doub-size:first-line{
    text-decoration: underline;
}


/* a:visited{
    color:red;
}
a:link{
    color: orange;
} */



h1:hover{
    text-decoration: underline;
    background-color: aliceblue;
}
input:focus{
    background-color: aquamarine;
    color:brown;
}
button:active{
    background-color: cornflowerblue;
    text-shadow: 5px 5px 15px red;
}



h2[title="hello"]{
    background-color: pink;
}
h2[title^="C"]{
    background-color: yellow;
}
h2[title*="ty"]{
    color: green;
}
h2[title$="o"]{
    color:red;
}









/* h1{
    text-shadow: 2px 2px 5px #008000;
} */