
*{
    font-family: Arial, Helvetica, verdana, sans-serif;
}

.coding-text{
    font-family: 'Courier New', Courier, monospace;
}























/* 
.size-16px{
    font-size: 16px;
} */


/* body{
    font-size: 28px;
}

.size-percent{
    font-size: 75%;
}
.size-12px{
    font-size: 12px;
} */






body{
    font-size: 30px;
}

.doub-size{
    font-size: 1.5em;
}









